:root{
    background-color: aqua;
    font-size:62.5%;

}
*{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
padding: 0;
color:black;

}
h1,h2,h3,h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 5.4rem;
    color:blue;
    margin-bottom: 5rem;
}

h1>span{
    font-size: 2.4rem;
    font-weight: 500;

}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;

}

h3{
    font-size: 2.8rem;
    font-weight: 500;
}

/*styling the container class*/

.container{
    width: 100vw;
    height:100vw;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin:auto;
}

/*child of the container*/
.container >* {
    width: 100%;
}
.flex-column{
    display: flex;
    flex-direction: column;

}

.flex-center{
    justify-content: center;
    align-items: center;

}

.justify-center{
    justify-content: center;

}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

/* styling buttons */

.button{
    font-size: 1.8rem;
    width:20rem;
   
    background-color:azure;
    color:deepskyblue;
    margin-bottom: 1rem;
    border: 0.1rem solid #565656;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;

}

/*button hover*/
.button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.button[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}